/* Footer.module.css */

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
  }
  
  .container {
    min-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-family: 'Funkley',cursive;
  }
  