/* General Styles */
.body {
  font-family: 'Inter', Montserrat;
  margin: 0;
  background-color: #ffff;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navigation Styles */
.nav {
  background-color: #fff;
  padding: 16px;
  position: relative;
  transition: top 0.3s ease;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.navIcon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

.navButton {
  padding: 8px 16px;
  margin-right: 90px; /* Adjust the margin between buttons */
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family:Montserrat;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top:3vh;
}

.navButton:hover {
  background-color: #fff;
  color: #000;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .navButton{
    gap:100px;
    margin-right: 1vh;
    font-size: 26px;
    align-items: right;
    margin-top:15px;
  }
  .navButton:hover {
    background-color: #fff;
    color: #000;
    margin-top:1vh;
  }
  .navIcon {
    width: 10rem;
    height: 10rem;
    margin-right: 50px;
    border-radius: 50%;
  }   
  
}

